@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --blue_main: #243c7b;
}

/* Base styles */
body {
  font-family: "Lato";
  min-height: 100vh;
  background-color: #fefefe;
  font-family: "Lato";
  color: #191e3b;
}

button {
  cursor: pointer;
}
